@model FribergCarRentals.Models.Customer
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var adminName = session.GetString("AdminName");
    var customerName = session.GetString("CustomerName");
    var role = session.GetString("Role");
    var name = adminName ?? customerName;
}

@{
    ViewData["Title"] = "Edit";
}

@if (role == "Admin")
{
    <h2>@role - Edit</h2>
}
else
{
    <h2>@customerName - Edit</h2>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-secondary">Back</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
