@model Booking
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var adminName = session.GetString("AdminName");
    var customerName = session.GetString("CustomerName");
    var role = session.GetString("Role");
    var name = adminName ?? customerName;
}

@{
    ViewData["Title"] = "Edit";
}

<h2>@customerName - Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Starting from</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Ending in</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label">Car</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-secondary">Back</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
